
/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Cairo", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Cairo", sans-serif;
	color: #6f6f6f;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #8d8d8d;
}

ul,
ol {
	padding: 0;
	margin: 0;
}
/*---------------------
  Helper CSS
-----------------------*/
.section-pad{height: 50px;}
.section-title {
	margin-bottom: 50px;
	text-align: center;
}

.section-title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}

.section-title h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: #111;
	content: "";
	margin: 0 auto;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: #111;
	letter-spacing: 2px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #111;
	border: none;
}
.form-control:focus {
    box-shadow: none;
}
.content {padding: 0 .5rem;}
.error-page {margin: 20px auto 0;width: 600px;}
.error-page>.headline {float: left;font-size: 100px;font-weight: 300;}
.error-page>.error-content {
    display: block;
    margin-left: 190px;
}
.error-page>.error-content>h3 {
    font-size: 25px;
    font-weight: 300;
}
/*---------------------
  Header
-----------------------*/

.header__top {
	background: #f5f5f5;
}

.header__top__left {
	padding: 10px 0 13px;
}

.header__top__left ul li {
	font-size: 14px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__top__left ul li:after {
	position: absolute;
	right: -25px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__left ul li:last-child {
	margin-right: 0;
}

.header__top__left ul li:last-child:after {
	display: none;
}

.header__top__left ul li i {
	color: #252525;
	margin-right: 5px;
}

.header__top__right {
	text-align: right;
	padding: 10px 0 13px;
}

.header__top__right__social {
	position: relative;
	display: inline-block;
	margin-right: 35px;
}

.header__top__right__social:after {
	position: absolute;
	right: -20px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__social a {
	font-size: 14px;
	display: inline-block;
	color: #1c1c1c;
	margin-right: 20px;
}

.header__top__right__social a:last-child {
	margin-right: 0;
}

.header__top__right__language {
	position: relative;
	display: inline-block;
	margin-right: 40px;
	cursor: pointer;
}

.header__top__right__language:hover ul {
	top: 23px;
	opacity: 1;
	visibility: visible;
}

.header__top__right__language:after {
	position: absolute;
	right: -12px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__language img {
	margin-right: 6px;
}

.header__top__right__language div {
	font-size: 14px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 4px;
}

.header__top__right__language span {
	font-size: 14px;
	color: #1c1c1c;
	position: relative;
	top: 2px;
}

.header__top__right__language ul {
	background: #222222;
	width: 130px;
	text-align: left;
	padding: 5px 0;
	position: absolute;
	left: 0;
	top: 43px;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__top__right__language ul li {
	list-style: none;
}

.header__top__right__language ul li a {
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
}

.header__top__right__auth {
	display: inline-block;
}

.header__top__right__auth a {
	display: inline-block;
	font-size: 14px;
	color: #1c1c1c;
}

.header__top__right__auth a i {
	margin-right: 6px;
}

.header__logo {
	padding: 15px 0;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	padding: 10px;
	background-color: #000000;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

.header__menu ul li .header__menu__dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	background: #222222;
	width: 225px;
	z-index: 9;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
	margin-right: 0;
	display: block;
}

.header__menu ul li .header__menu__dropdown li:hover>a {
	color: #c9c9c9;
}

.header__menu ul li .header__menu__dropdown li a {
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 15px;
}

.header__menu ul li.active a {color: #e98513;}
.header__menu ul li.active a:hover {color: #e98513; opacity: .8;}

.header__menu ul li:hover .header__menu__dropdown {
	top: 40px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover>a {
	color: #cccccc;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}

.header__cart {
	text-align: right;
	padding: 24px 0;
}

.header__cart ul {
	display: inline-block;
	margin-right: 25px;
}

.header__cart ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.header__cart ul li:last-child {
	margin-right: 0;
}

.header__cart ul li a {
	position: relative;
}

.header__cart ul li a i {
	font-size: 18px;
	color: #1c1c1c;
}

.header__cart ul li a span {
	height: 13px;
	width: 13px;
	background: #111;
	font-size: 10px;
	color: #ffffff;
	line-height: 13px;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -12px;
}

.header__cart .header__cart__price {
	font-size: 14px;
	color: #6f6f6f;
	display: inline-block;
}

.header__cart .header__cart__price span {
	color: #252525;
	font-weight: 700;
}

.humberger__menu__wrapper {
	display: none;
}

.humberger__open {
	display: none;
}

/*---------------------
  Hero
-----------------------*/

.hero {
	margin-bottom: 10px;
}

.hero.hero-normal {
	padding-bottom: 30px;
}
.hero.hero-normal .hero__search {
	margin-bottom: 0;
}
.hero__search {
	overflow: hidden;
	padding: 15px 0;
}

.hero__search__form {
	width: 100%;
	height: 50px;
	border: 1px solid #ebebeb;
	position: relative;
	float: left;
}

.hero__search__form form input {
	width: 100%;
	border: none;
	height: 48px;
	font-size: 16px;
	color: #b2b2b2;
	padding-left: 20px;
}

.hero__search__form form input::placeholder {
	color: #b2b2b2;
}

.hero__search__form form button {
	position: absolute;
	right: 0;
	top: -1px;
	height: 50px;
}

.hero__item {
	height: 345px;
	display: flex;
	align-items: center;
	padding-left: 75px;
}

.hero__text span {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 4px;
	color: #111;
}

.hero__text h2 {
	font-size: 46px;
	color: #252525;
	line-height: 52px;
	font-weight: 700;
	margin: 10px 0;
}

.hero__text p {
	margin-bottom: 35px;
}


/*---------------------
Categories Item
---------------------*/
.categories__item {
    height: 200px;
    position: relative;
}
.categories__item h5 {
	font-size: 15px;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 20px;
    bottom: 20px;
    text-align: center;
}
.categories__item h5 a {
    font-size: 12px;
    color: #1c1c1c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 0 10px;
    background: #ffffff;
    display: block;
}
/*---------------------
  Single Product
---------------------*/
.single-product {background: #f5f5f5;padding: 15px;transition: all 0.5s ease 0s; margin-bottom: 20px;}
.single-product:hover {box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.12);}
.product-img {overflow: hidden;position: relative;}
.pro-label.new-label {background: #080808 none repeat scroll 0 0;}
.pro-label {left: 20px;position: absolute;top: 20px;z-index: 2;background: #c8a165 none repeat scroll 0 0;border-radius: 5px;color: #fff;height: 25px;line-height: 25px;padding: 0 10px;text-transform: capitalize;}
.product-img a {display: block;}
.product-img img {width: 100%; transition: transform .5s ease;}
.product-img img:hover {transform: scale(1.5);}
.product-action { background: #c9c9c9 none repeat scroll 0 0;bottom: -40px;left: 0;margin: auto;position: absolute; right: 0;text-align: center;visibility: hidden;opacity: 0;transition: all 0.5s ease 0s;width: calc(100% - 40px);}
.single-product:hover .product-action {bottom: 15px;visibility: visible;opacity: 1;}
.product-action a {color: #1a1a1a;float: left;font-size: 16px;height: 40px;line-height: 40px;position: relative;width: 33.3%;}
.product-action a:hover {color: #C8A165;}
.product-action a::before {background: #999 none repeat scroll 0 0;content: "";height: 16px;margin-top: -8px;position: absolute;right: 0;top: 50%;width: 2px;}
.product-action a:last-child::before {display: none;}
.product-info {padding: 20px 0;}
.fix {overflow: hidden;}
.post-title {font-size: 15px;line-height: 18px;text-transform: capitalize;margin-bottom: 5px;}
.post-title a{color: #111;}
.post-title a:hover{color: #7a7a7a;}
.product-info p {color:#b2b2b2;margin-bottom: 5px;}
.pro-price {color: #111111;font-size: 18px;font-weight: bold;line-height: 28px;}
.pro-rating a {color: #111111;font-size: 15px;line-height: 28px;}
.pro-price span {color: #757575;text-decoration: line-through;display: inline-block;font-weight: 400;font-size: 13px;}
.product__details__text .product-options {float: left;width: 100%;margin-bottom:25px;}
/* ============= */
/* Tooltip */
.tooltip > .tooltip-inner {
	background: #C8A165 none repeat scroll 0 0;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 25px;
	padding: 0 10px;
	text-transform: uppercase;
	width: auto;
	height: 25px;
  }
/*---------------------
Product Details Page
---------------------*/
.product__details__text .main-feature ul, .product__details__tab__desc .main-feature ul{
    padding: 0;
	margin: 10px 0;
	border: none;
}
.product__details__text .main-feature ul li, .product__details__tab__desc .main-feature ul li{
	list-style: square;
	margin-left: 20px;
	line-height: 25px;
}
.product__details__pic {
    background: aliceblue;
    padding: 10px;
}
.product__details__pic__item {
	margin-bottom: 20px;
}

.product__details__pic__item img {
	min-width: 100%;
	transition: transform .5s ease;
}

.product__details__pic__slider img {
	cursor: pointer;
}

.product__details__pic__slider.owl-carousel .owl-item img {
	width: auto;
}

.product__details__text h3 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 16px;
}

.product__details__text .product__details__rating {
	font-size: 14px;
	margin-bottom: 12px;
}

.product__details__text .product__details__rating i {
	margin-right: -2px;
	color: #EDBB0E;
}

.product__details__text .product__details__rating span {
	color: #dd2222;
	margin-left: 4px;
}

.product__details__text .product__details__price {
	font-size: 30px;
	color: #dd2222;
	font-weight: 600;
	margin-bottom: 15px;
}

.product__details__text p {
	margin-bottom: 45px;
}

.product__details__text .primary-btn {
	padding: 16px 28px 14px;
	margin-right: 6px;
	margin-bottom: 5px;
}

.product__details__text .heart-icon {
	display: inline-block;
	font-size: 16px;
	color: #6f6f6f;
	padding: 13px 16px 13px;
	background: #f5f5f5;
}

.product__details__text ul {
	border-top: 1px solid #ebebeb;
	padding-top: 40px;
	margin-top: 50px;
}

.product__details__text ul li {
	font-size: 16px;
	color: #1c1c1c;
	list-style: none;
	line-height: 36px;
}

.product__details__text ul li b {
	font-weight: 700;
	width: 170px;
	display: inline-block;
}

.product__details__text ul li span samp {
	color: #dd2222;
}

.product__details__text ul li .share {
	display: inline-block;
}

.product__details__text ul li .share a {
	display: inline-block;
	font-size: 15px;
	color: #1c1c1c;
	margin-right: 25px;
}

.product__details__text ul li .share a:last-child {
	margin-right: 0;
}

.product__details__quantity {
	display: inline-block;
	margin-right: 6px;
}

.pro-qty {
	width: 100px;
	height: 50px;
	display: inline-block;
	position: relative;
	text-align: center;
	background: #f5f5f5;
	margin-bottom: 5px;
}

.pro-qty input {
	height: 100%;
	width: 100%;
	font-size: 16px;
	color: #6f6f6f;
	width: 50px;
	border: none;
	background: #f5f5f5;
	text-align: center;
}

.pro-qty .qtybtn {
	font-size: 16px;
	color: #6f6f6f;
	cursor: pointer;
	display: inline-block;
}

.product__details__tab {
	padding-top: 85px;
}

.product__details__tab .nav-tabs {
	border-bottom: none;
	justify-content: center;
	position: relative;
}

.product__details__tab .nav-tabs:before {
	position: absolute;
	left: 0;
	top: 12px;
	height: 1px;
	width: 370px;
	background: #ebebeb;
	content: "";
}

.product__details__tab .nav-tabs:after {
	position: absolute;
	right: 0;
	top: 12px;
	height: 1px;
	width: 370px;
	background: #ebebeb;
	content: "";
}

.product__details__tab .nav-tabs li {
	margin-bottom: 0;
	margin-right: 65px;
}

.product__details__tab .nav-tabs li:last-child {
	margin-right: 0;
}

.product__details__tab .nav-tabs li a {
	font-size: 16px;
	color: #999999;
	font-weight: 700;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
}

.product__details__tab .product__details__tab__desc {
	padding-top: 30px;
}

.product__details__tab .product__details__tab__desc h6 {
	font-weight: 700;
	color: #333333;
	margin-bottom: 26px;
}

.product__details__tab .product__details__tab__desc p {
	color: #666666;
}
/*---------------------
  Checkout
-----------------------*/

.checkout {
	padding-top: 80px;
	padding-bottom: 60px;
}

.checkout h6 {
	color: #999999;
	text-align: center;
	background: #f5f5f5;
	border-top: 1px solid #6AB963;
	padding: 12px 0 12px;
	margin-bottom: 75px;
}

.checkout h6 span {
	font-size: 16px;
	color: #6AB963;
	margin-right: 5px;
}

.checkout h6 a {
	text-decoration: underline;
	color: #999999;
}

.checkout__form h4 {
	color: #1c1c1c;
	font-weight: 700;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 20px;
	margin-bottom: 25px;
}

.checkout__form p {
	column-rule: #b2b2b2;
}

.checkout__input {
	margin-bottom: 24px;
}

.checkout__input p {
	color: #1c1c1c;
	margin-bottom: 20px;
}

.checkout__input p span {
	color: #dd2222;
}

.checkout__input input {
	width: 100%;
	height: 46px;
	border: 1px solid #ebebeb;
	padding-left: 20px;
	font-size: 16px;
	color: #b2b2b2;
	border-radius: 4px;
}

.checkout__input input.checkout__input__add {
	margin-bottom: 20px;
}

.checkout__input input::placeholder {
	color: #b2b2b2;
}

.checkout__input__checkbox {
	margin-bottom: 10px;
}

.checkout__input__checkbox label {
	position: relative;
	font-size: 16px;
	color: #1c1c1c;
	padding-left: 40px;
	cursor: pointer;
}

.checkout__input__checkbox label input {
	position: absolute;
	visibility: hidden;
}

.checkout__input__checkbox label input:checked~.checkmark {
	background: #7fad39;
	border-color: #7fad39;
}

.checkout__input__checkbox label input:checked~.checkmark:after {
	opacity: 1;
}

.checkout__input__checkbox label .checkmark {
	position: absolute;
	left: 0;
	top: 4px;
	height: 16px;
	width: 14px;
	border: 1px solid #a6a6a6;
	content: "";
	border-radius: 4px;
}

.checkout__input__checkbox label .checkmark:after {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 10px;
	height: 8px;
	border: solid white;
	border-width: 3px 3px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
	content: "";
	opacity: 0;
}

.checkout__order {
	background: #f5f5f5;
	padding: 15px;
	padding-top: 30px;
}

.checkout__order h4 {
	color: #1c1c1c;
	font-weight: 700;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.checkout__order .checkout__order__products {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 10px;
}

.checkout__order .checkout__order__products span {
	float: right;
}

.checkout__order ul {
	margin-bottom: 12px;
}

.checkout__order ul li {
	font-size: 16px;
	color: #6f6f6f;
	line-height: 40px;
	list-style: none;
}

.checkout__order ul li span {
	font-weight: 700;
	float: right;
}

.checkout__order .checkout__order__subtotal {
	font-size: 15px;
	color: #1c1c1c;
	font-weight: 700;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	padding-bottom: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
}

.checkout__order .checkout__order__subtotal span {
	float: right;
}

.checkout__order .checkout__input__checkbox label {
	padding-left: 20px;
}

.checkout__order .checkout__order__total {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.checkout__order .checkout__order__total span {
	float: right;
	color: #dd2222;
}

.checkout__order button {
	font-size: 18px;
	letter-spacing: 2px;
	width: 100%;
	margin-top: 10px;
}

/*---------------------
  Shop Details
-----------------------*/

.related-product {
	padding-bottom: 30px;
}

.related__product__title {
	margin-bottom: 70px;
}

/*---------------------
Shop Page
---------------------*/
.filter-widget {
	margin-bottom: 30px;
}

.filter-widget .fw-title {
	font-size: 17px;
	font-weight: 700;
	color: #414141;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#showCat .card .card-header h2 a{
	color: #000000;
	font-weight: 600;
}
#showCat .card .card-header h2 a:hover,
#showCat .card .card-header h2 a:focus {
	color: #363636;
	opacity: .8;
	text-decoration: none;
}

#showCat .card .card-header h2 a:before {
    font-family:Fontawesome;
	content:'\f078';
	position: absolute;
	right: 15px;
    font-size:10px;
    font-weight:300;
}
#showCat .card .card-header h2 a.collapsed:before {
	-webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
#showCat .card .card-body {
	padding: .3rem 0;
}
#showCat .card .show .card-body ul {
	padding: .3rem 20px;
	list-style: none;
}
#showCat .card .card-body ul {
	padding: .3rem 20px;
	list-style: none;
}
#showCat .card .card-body ul .list-group-item{
	padding: .3rem 0;
}
.category-menu {
	list-style: none;
	background-color: aliceblue;
	padding: 0 15px 10px 15px;
	border-radius: 10px;
}

.category-menu li a {
	display: block;
    position: relative;
    font-size: 15px;
    color: #414141;
    border-bottom: none;
    padding: 12px 0 5px 0px;
}

.category-menu li a span {
	float: right;
}

.category-menu li .sub-menu li a:after {
	position: absolute;
	content: "";
	width: 9px;
	height: 9px;
	left: 15px;
	top: 16px;
	border: 1px solid #f51167;
	border-radius: 50%;
}

.category-menu li a:hover {
	color: #f51167;
}

.category-menu li a:hover:after {
	background: #f51167;
}

.category-menu li a:last-child a {
	margin-bottom: 0;
}

.category-menu li .sub-menu {
	list-style: none;
	overflow: hidden;
	height: auto;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, -webkit-transform 0.4s;
	-o-transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.category-menu li .sub-menu li a {
	padding-left: 35px;
}

.category-menu li:hover>a {
	color: #f51167;
}

.category-menu li.active>.sub-menu {
	display: block;
	height: auto;
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.category-menu .lp-item{
	display: inline-flex;
	padding: 10px 0;
	overflow: hidden;
}
.category-menu .lp-thumb {
    width: 64px;
    height: 64px;
    float: left;
	margin-right: 10px;
}
.category-menu .lp-thumb a{
    padding: 0;
}
.category-menu .lp-content {
    overflow: hidden;
}
.category-menu .lp-content span {
    font-size: 14px;
    color: #494949;
	margin-bottom: 4px;
}
.category-menu .lp-content .old-price {
    font-size: 12px;
	color: #8f8f8f;
	text-decoration: line-through;
}
.category-menu .lp-content .readmore {
    font-size: 12px;
	color: #f51167;
	padding: 0;
}
.category-menu .lp-content .title {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
	color: #222;
	padding: 0;
}
.filter__item {
    padding-top: 35px;
    border-top: 1px solid #ebebeb;
    padding-bottom: 20px;
}
.filter__sort {margin-bottom: 15px;}
.filter__sort span {font-size: 16px;color: #6f6f6f;display: inline-block;}
.filter__sort .nice-select {
    background-color: #fff;
    border-radius: 0;
    border: none;
    display: inline-block;
    float: none;
    height: 0;
    line-height: 0;
    padding-left: 18px;
    padding-right: 30px;
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    cursor: pointer;
}
.filter__sort .nice-select .list {border-radius: 0;margin-top: 0;top: 15px;}
.filter__found {text-align: center; margin-bottom: 15px;}
.filter__found h6 {font-size: 16px;color: #b2b2b2;}
.filter__found h6 span {color: #1c1c1c;font-weight: 700;margin-right: 5px;}
.filter__option {text-align: right;margin-bottom: 15px;}
.filter__option span {font-size: 24px;margin-right: 10px;cursor: pointer;-webkit-transition: all, 0.3s;-moz-transition: all, 0.3s;-ms-transition: all, 0.3s;-o-transition: all, 0.3s;transition: all, 0.3s;}
.filter__option span:last-child {margin: 0;}
/* ----------------
  Cart page
---------------------*/

.scrollbar {
	margin: 80px auto 0;
	width: 100%;
	height: 7px;
	line-height: 0;
	background: #ececec;
	overflow: hidden;
}

.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #fff;
	cursor: pointer;
}

.scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 7px;
	background: #b09d81;
	border-radius: 30px;
}

.cart-table {
	padding: 40px 15px 0;
	background: aliceblue;
	border-radius: 10px;
	overflow: hidden;
}

.cart-table h3 {
	font-weight: 700;
	margin-bottom: 37px;
}

.cart-table table {
	width: 100%;
	margin-bottom: 17px;
}

.cart-table table tr th {
	font-size: 12px;
	font-weight: 400;
	color: #414141;
	text-align: center;
	padding-bottom: 25px;
}

.cart-table table tr th.product-th {
	text-align: left;
}
.cart-table table tbody tr td.shoping__cart__item__close a {
    font-size: 24px;
	cursor: pointer;
	padding-left: 10px;
}

.cart-table table tr th.size-th {
	padding-right: 70px;
}

.cart-table table tr th.quy-th {
	padding-right: 20px;
}

.cart-table .product-col {
	display: table;
	margin-bottom: 19px;
}

.cart-table .product-col img {
	display: table-cell;
	vertical-align: middle;
	float: left;
	width: 73px;
}

.cart-table .product-col .pc-title {
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
	max-width: 200px;
}

.cart-table .product-col .pc-title h4 {
	font-size: 14px;
	color: #414141;
	font-weight: 700;
	margin-bottom: 3px;
}

.cart-table .product-col .pc-title p {
	margin-bottom: 0;
	font-size: 14px;
	color: #414141;
}

.cart-table .quy-col {
	padding-right: 20px;
}

.cart-table .quantity {
	margin-bottom: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.cart-table .quantity .btn{
	margin-left: 5px;
	border-radius: 25px;
	line-height: initial;
}

.cart-table .size-col,
.cart-table .total-col {
	text-align: center;
}

.cart-table .size-col h4,
.cart-table .total-col h4 {
	font-size: 14px;
	color: #414141;
	font-weight: 400;
}

.cart-table .size-col h4 {
	padding-right: 70px;
}

.cart-table .total-cost {
	background: #111111;
	margin: 0 -34px;
	text-align: right;
	padding: 22px 0;
	padding-right: 50px;
}

.cart-table .total-cost h6 {
	line-height: 1;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}

.cart-table .total-cost h6 span {
	margin-left: 38px;
}

.card-right .site-btn {
	margin-bottom: 14px;
	width: 100%;
	min-height: 57px;
	padding: 23px 47px 14px;
	text-align: center;
}

.promo-code-form {
	position: relative;
	margin-bottom: 14px;
}

.promo-code-form input {
	width: 100%;
	height: 58px;
	border: 2px solid #f0f0f0;
	padding-left: 24px;
	padding-right: 100px;
	font-size: 16px;
	border-radius: 80px;
}

.promo-code-form button {
	position: absolute;
	right: 24px;
	top: 0;
	height: 100%;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	color: #f51167;
	cursor: pointer;
}
.cart-empty {
	text-align: center;
	margin: 20px 0;
}
.empty-cart{
	margin-bottom: 50px;
	text-align: center;
}
/*************************
*******login page CSS******
**************************/
 
/*---------------------
  Footer
-----------------------*/

.footer {
	background: #F3F6FA;
	padding-top: 70px;
	padding-bottom: 0;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about ul li {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 36px;
	list-style: none;
}

.footer__about__logo {
	margin-bottom: 15px;
}

.footer__about__logo a {
	display: inline-block;
}

.footer__widget {
	margin-bottom: 30px;
	overflow: hidden;
}

.footer__widget h6 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer__widget ul {
	width: 50%;
	float: left;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	color: #1c1c1c;
	font-size: 14px;
	line-height: 32px;
}

.footer__widget p {
	font-size: 14px;
	color: #1c1c1c;
	margin-bottom: 30px;
}

.footer__widget form {
	position: relative;
	margin-bottom: 30px;
}

.footer__widget form input {
	width: 100%;
	font-size: 16px;
	padding-left: 20px;
	color: #1c1c1c;
	height: 46px;
	border: 1px solid #ededed;
}

.footer__widget form input::placeholder {
	color: #1c1c1c;
}

.footer__widget form button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 26px;
	height: 100%;
}

.footer__widget .footer__widget__social a {
	display: inline-block;
	height: 41px;
	width: 41px;
	font-size: 16px;
	color: #404040;
	border: 1px solid #ededed;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	background: #ffffff;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
	margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
	background: #111;
	color: #ffffff;
	border-color: #ffffff;
}

.footer__copyright {
	border-top: 1px solid #ebebeb;
	padding: 15px 0;
	overflow: hidden;
	margin-top: 20px;
}

.footer__copyright__text {
	font-size: 14px;
	color: #1c1c1c;
	float: left;
	line-height: 25px;
}

.footer__copyright__payment {
	float: right;
}


/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header__menu ul li {
		margin-right: 45px;
	}
	.hero__search__form {
		width: 490px;
	}
	.product__details__tab .nav-tabs:before {
		width: 265px;
	}
	.product__details__tab .nav-tabs:after {
		width: 265px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.product__details__quantity {
		margin-bottom: 10px;
	}
	.product__details__text .primary-btn {
		margin-bottom: 10px;
	}
	.product__details__tab .nav-tabs:before {
		width: 150px;
	}
	.product__details__tab .nav-tabs:after {
		width: 150px;
	}
	.humberger__open {
		display: block;
		font-size: 22px;
		color: #1c1c1c;
		height: 35px;
		width: 35px;
		line-height: 33px;
		text-align: center;
		border: 1px solid #1c1c1c;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 22px;
	}
	.header .container {
		position: relative;
	}
	.humberger__menu__wrapper {
		width: 300px;
		background: #ffffff;
		position: fixed;
		left: -300px;
		top: 0;
		height: 100%;
		overflow-y: auto;
		z-index: 99;
		padding: 30px;
		padding-top: 50px;
		opacity: 0;
		display: block;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__wrapper.show__humberger__menu__wrapper {
		opacity: 1;
		left: 0;
	}
	.humberger__menu__logo {
		margin-bottom: 30px;
	}
	.humberger__menu__logo a {
		display: inline-block;
	}
	.humberger__menu__contact {
		padding: 10px 0 13px;
	}
	.humberger__menu__contact ul li {
		font-size: 14px;
		color: #1c1c1c;
		position: relative;
		line-height: 30px;
		list-style: none;
	}
	.humberger__menu__contact ul li i {
		color: #252525;
		margin-right: 5px;
	}
	.humberger__menu__cart ul {
		display: inline-block;
		margin-right: 25px;
	}
	.humberger__menu__cart ul li {
		list-style: none;
		display: inline-block;
		margin-right: 15px;
	}
	.humberger__menu__cart ul li:last-child {
		margin-right: 0;
	}
	.humberger__menu__cart ul li a {
		position: relative;
	}
	.humberger__menu__cart ul li a i {
		font-size: 18px;
		color: #1c1c1c;
	}
	.humberger__menu__cart ul li a span {
		height: 13px;
		width: 13px;
		background: #111;
		font-size: 10px;
		color: #ffffff;
		line-height: 13px;
		text-align: center;
		font-weight: 700;
		display: inline-block;
		border-radius: 50%;
		position: absolute;
		top: 0;
		right: -12px;
	}
	.humberger__menu__cart .header__cart__price {
		font-size: 14px;
		color: #6f6f6f;
		display: inline-block;
	}
	.humberger__menu__cart .header__cart__price span {
		color: #252525;
		font-weight: 700;
	}
	.humberger__menu__cart {
		margin-bottom: 25px;
	}
	.humberger__menu__widget {
		margin-bottom: 20px;
	}
	.humberger__menu__widget .header__top__right__language {
		margin-right: 20px;
	}
	.humberger__menu__nav {
		display: none;
	}
	.humberger__menu__wrapper .header__top__right__social {
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.humberger__menu__wrapper .slicknav_btn {
		display: none;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_item a {
		border-bottom: none !important;
	}
	.humberger__menu__wrapper .slicknav_nav {
		display: block !important;
	}
	.humberger__menu__wrapper .slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 30px;
	}
	.humberger__menu__wrapper .slicknav_nav ul {
		margin: 0;
	}
	.humberger__menu__wrapper .slicknav_nav a {
		color: #1c1c1c;
		font-size: 16px;
		font-weight: 600;
		margin: 0;
		border-bottom: 1px solid #e1e1e1;
	}
	.humberger__menu__wrapper .slicknav_nav a:hover {
		-webkit-border-radius: 0;
		border-radius: 0;
		background: transparent;
		color: #111;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_row,
	.humberger__menu__wrapper .slicknav_nav a {
		padding: 8px 0;
	}
	.humberger__menu__overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		content: "";
		z-index: 98;
		visibility: hidden;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__overlay.active {
		visibility: visible;
	}
	.header__top {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.header__cart {
		text-align: center;
		padding: 10px 0 24px;
	}
	.over_hid {
		overflow: hidden;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.hide-m{display: none;}
	.hero__search__form {width: 100%;}
	.error-page {width: 100%;}
	.error-page>.headline {float: none;text-align: center;}
	.error-page>.error-content {margin-left: 0;}
	.error-page>.error-content>h3 {text-align: center;}
	.hero__search__form form input {width: 100%;}
	.hero__search__form form .hero__search__categories {display: none;}
	.product__details__pic {margin-bottom: 40px;}
	.product__details__tab .nav-tabs:before {display: none;}
	.product__details__tab .nav-tabs:after {display: none;}
	.footer__copyright {text-align: center;}
	.footer__copyright__text {float: none;margin-bottom: 25px;}
	.footer__copyright__payment {float: none;}
	.cart-table .size-col h4{padding-right: 15px;}
	.cart-table .product-col img{display: none;}
	.cart-table .product-col .pc-title{padding-left: 0;}
	.promo-code-form input{margin-top: 15px;}
	.or{margin: 35px auto;}
	.humberger__open {
		display: block;
		font-size: 22px;
		color: #1c1c1c;
		height: 35px;
		width: 35px;
		line-height: 33px;
		text-align: center;
		border: 1px solid #1c1c1c;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 22px;
	}
	.header .container {
		position: relative;
	}
	.humberger__menu__wrapper {
		width: 300px;
		background: #ffffff;
		position: fixed;
		left: -300px;
		top: 0;
		height: 100%;
		overflow-y: auto;
		z-index: 99;
		padding: 30px;
		padding-top: 50px;
		opacity: 0;
		display: block;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__wrapper.show__humberger__menu__wrapper {
		opacity: 1;
		left: 0;
	}
	.humberger__menu__logo {
		margin-bottom: 30px;
	}
	.humberger__menu__logo a {
		display: inline-block;
	}
	.humberger__menu__contact {
		padding: 10px 0 13px;
	}
	.humberger__menu__contact ul li {
		font-size: 14px;
		color: #1c1c1c;
		position: relative;
		line-height: 30px;
		list-style: none;
	}
	.humberger__menu__contact ul li i {
		color: #252525;
		margin-right: 5px;
	}
	.humberger__menu__cart ul {
		display: inline-block;
		margin-right: 25px;
	}
	.humberger__menu__cart ul li {
		list-style: none;
		display: inline-block;
		margin-right: 15px;
	}
	.humberger__menu__cart ul li:last-child {
		margin-right: 0;
	}
	.humberger__menu__cart ul li a {
		position: relative;
	}
	.humberger__menu__cart ul li a i {
		font-size: 18px;
		color: #1c1c1c;
	}
	.humberger__menu__cart ul li a span {
		height: 13px;
		width: 13px;
		background: #111;
		font-size: 10px;
		color: #ffffff;
		line-height: 13px;
		text-align: center;
		font-weight: 700;
		display: inline-block;
		border-radius: 50%;
		position: absolute;
		top: 0;
		right: -12px;
	}
	.humberger__menu__cart .header__cart__price {
		font-size: 14px;
		color: #6f6f6f;
		display: inline-block;
	}
	.humberger__menu__cart .header__cart__price span {
		color: #252525;
		font-weight: 700;
	}
	.humberger__menu__cart {
		margin-bottom: 25px;
	}
	.humberger__menu__widget {
		margin-bottom: 20px;
	}
	.humberger__menu__widget .header__top__right__language {
		margin-right: 20px;
	}
	.humberger__menu__nav {
		display: none;
	}
	.humberger__menu__wrapper .header__top__right__social {
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.humberger__menu__wrapper .slicknav_btn {
		display: none;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_item a {
		border-bottom: none !important;
	}
	.humberger__menu__wrapper .slicknav_nav {
		display: block !important;
	}
	.humberger__menu__wrapper .slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 30px;
	}
	.humberger__menu__wrapper .slicknav_nav ul {
		margin: 0;
	}
	.humberger__menu__wrapper .slicknav_nav a {
		color: #1c1c1c;
		font-size: 16px;
		font-weight: 600;
		margin: 0;
		border-bottom: 1px solid #e1e1e1;
	}
	.humberger__menu__wrapper .slicknav_nav a:hover {
		-webkit-border-radius: 0;
		border-radius: 0;
		background: transparent;
		color: #111;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_row,
	.humberger__menu__wrapper .slicknav_nav a {
		padding: 8px 0;
	}
	.humberger__menu__overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		content: "";
		z-index: 98;
		visibility: hidden;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__overlay.active {
		visibility: visible;
	}
	.header__top {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.header__cart {
		text-align: center;
		padding: 10px 0 24px;
	}
	.over_hid {
		overflow: hidden;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.hero__search__form form .hero__search__categories {
		display: none;
	}
	.product__details__text ul li b {
		width: 100px;
	}
	.product__details__tab .nav-tabs li {
		margin-right: 20px;
	}
	.product__details__tab .nav-tabs li {
		margin-right: 15px;
	}
}

